body{ background-color: aqua;
    color: red;
    text-align: center;
    font-family: "Arial";
    margin: 0;
    padding: 0;
}
#cabecera
{
    background:#33A;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: rgb(24, 218, 40);
    padding: 0.5em;
    font-weight: bold;
    margin: 0;

}
#cabecera #tagline 
{
    margin: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
    
}
#container 
{
width: 70%;
}